* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-nav {
    margin-right: 0 !important;
    padding-right: 100px;
}

.navbar {
    background-color: #0a193d;
    color: white !important;
}

.nav-item a {
    color: white !important;
}

.nav-item {
    padding-left: 2px;
    font-size: 22px;
}

.navbar-brand {
    color: white !important;
    padding-left: 100px;
    font-size: 22px;
}

#navbar button {
    color: white !important;
}

#banner-container {
    background-color: #0a193d;
    color: white !important;
    padding-top: 80px;
    padding-bottom: 80px;

}

#banner-row img {
    max-width: 70%;
    height: auto;
    display: block;
    padding-left: 30px;
}

#banner-row h3 {
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}

#banner-row p {
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

#banner-row a {
    background-color: white !important;
    color: black !important;
    border: none;
    margin-left: 20px;
    margin-top: 20px;

}

#banner-col {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#strenghts {
    padding-top: 80px;
    padding-bottom: 80px;
}

#strenghts h1 {
    padding-bottom: 70px;
}


#resume {
    padding-top: 80px;
    padding-bottom: 80px;
}

#resume h1 {
    padding-bottom: 70px;
}

#resume-col2 ul {
    padding-top: 90px;
}

#resume-col2 ul li {
    padding-top: 15px;
}


#contact {
    padding-top: 80px;
    padding-bottom: 80px;
}

#contact h1 {
    padding-bottom: 70px;
}

.contact-col a:hover img {
    transform: translateY(-10px);
}

#contact-row {
    flex-direction: row;
}

.mb-3 {
    padding-top: 10px;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
}

#footer .row {
    display: flex;
    justify-content: center;
}

h6 {
    font-size: 50px;
    font-weight: 500;
}

.pricing-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.pricing-wrapper .pricing-card {
    display: block;
    border: 1px solid #dee2e6;
    padding: 30px 15px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    background: #fff;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    .pricing-wrapper .pricing-card {
        -webkit-transition: none;
        transition: none;
    }
}

.pricing-wrapper .pricing-card-header .pricing-card-icon {
    width: 70px;
    margin-bottom: 25px;
}

.pricing-wrapper .pricing-card-footer {
    margin: 15px 0;
}

.pricing-wrapper .pricing-card-footer span {
    font-size: calc(18px + (35 - 18) * ((100vw - 300px) / (1300 - 300)));
    font-weight: 600;
    opacity: .8;
}

.pricing-wrapper .pricing-card-footer span:first-child {
    position: relative;
    right: -6px;
    top: -6px;
    font-size: calc(15px + (25 - 15) * ((100vw - 300px) / (1300 - 300)));
}

.pricing-wrapper .pricing-card-title {
    margin-bottom: 15px;
    font-size: calc(18px + (35 - 18) * ((100vw - 300px) / (1300 - 300)));
}

.pricing-wrapper .pricing-card-list p {
    margin-bottom: 12px;
    font-weight: 500;
    opacity: .6;
}

.pricing-wrapper .pricing-card-list p i {
    color: #ec185d;
}

.pricing-wrapper .pricing-card:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    border-radius: 0 !important;
}

.pricing-wrapper .pricing-card:first-child {
    border-radius: 0 0 0 0;
}

.pricing-wrapper .pricing-card:nth-child(2) {
    margin-left: -1px;
    margin-right: -1px;
}

.pricing-wrapper .pricing-card:last-child {
    border-radius: 0 0 0 0;
}

#about {
    margin-top: 70px;
}

.about {
    --background-color: #f4f4f4;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.about .icon-box {
    padding: 50px 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease-out 0s;
    background-color: #fff;
}

.about .icon-box h3 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
}

.about .icon-box p {
    margin-bottom: 0;
}


#tutorial .tutorial-item {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
  }
  #tutorial .tutorial-item .tutorial-link {
    position: relative;
    display: block;
    margin: 0 auto;
  }
  #tutorial .tutorial-item .tutorial-link .tutorial-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(89, 0, 255, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
  }
  #tutorial .tutorial-item .tutorial-link .tutorial-hover .tutorial-hover-content {
    font-size: 1.25rem;
    color: white;
  }
  #tutorial .tutorial-item .tutorial-link:hover .tutorial-hover {
    opacity: 1;
  }
  #tutorial .tutorial-item .tutorial-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: white;
  }
  #tutorial .tutorial-item .tutorial-caption .tutorial-caption-heading {
    font-size: 1.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    margin-bottom: 0;
  }
  #tutorial .tutorial-item .tutorial-caption .tutorial-caption-subheading {
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .tutorial-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .tutorial-modal .modal-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
  }
  .tutorial-modal .modal-content h2, .tutorial-modal .modal-content .h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .tutorial-modal .modal-content p.item-intro {
    font-style: italic;
    margin-bottom: 2rem;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .tutorial-modal .modal-content p {
    margin-bottom: 2rem;
  }
  .tutorial-modal .modal-content ul.list-inline {
    margin-bottom: 2rem;
  }
  .tutorial-modal .modal-content img {
    margin-bottom: 2rem;
  }
  .tutorial-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
  }
  .tutorial-modal .close-modal:hover {
    opacity: 0.3;
  }
  .bg-light {
    background-color: white!important; 
}
@media (max-width: 768px) {

    .about .icon-boxes .col-md-6:nth-child(2) .icon-box,
    .about .icon-boxes .col-md-6:nth-child(4) .icon-box {
        margin-top: 0;
    }
}

@media (max-width: 767.98px) {
    .pricing-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .pricing-card {
        border-radius: 0 !important;
        margin: 0 0 15px 0 !important;
        width: 100%;
    }
}

@media only screen and (max-width: 987px) {
    .navbar-brand {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    #banner-row img {
        padding-top: 20px;
    }

    .contact-col {
        width: 33%;
    }

}